= render 'games/header'
= render partial: 'name_title'
= render 'games/menu'

.soft
  .max-readable-width
    .grid__item.one-half.text--left>
      .soft
        = simple_form_for [@game, @participant] do |f|
          = f.input :name, required: true
          = f.input :twitter
          = f.input :youtube
          = f.input :wiki
          = f.input :location, input_html: { id: 'gmaps-input-address', autocomplete: 'off' }, placeholder: 'Start typing a place...'
          = f.input :character_names, as: :text, placeholder: "Fox\nPeach\n..."
          .small
            = "#{Character.where(game_id: @game.id).pluck(:slug).join(', ')}"
          = f.input :team_names, as: :text, placeholder: "EG\nCurse\nLiquid`"
    
          = f.button :submit
    .grid__item.one-half.text--right>
      .soft
        = "Score: #{@participant.score}"
        %br
        %br
        - link = 'Global rank: ' + @participant.global_rank.ordinalize
        = link_to link, game_participants_path(@game)
        - if @participant.country
          %br
          - link = @participant.country + ' rank: ' + @participant.country_rank.ordinalize
          = link_to link, game_participants_path(@game, country: @participant.country)
        - if @participant.state
          %br
          - link = @participant.state + ' rank: ' + @participant.state_rank.ordinalize
          = link_to link, game_participants_path(@game, country: @participant.country, state: @participant.state)
        - if @participant.sub_state
          %br
          - link = @participant.sub_state + ' rank: ' + @participant.sub_state_rank.ordinalize
          = link_to link, game_participants_path(@game, country: @participant.country, state: @participant.state, sub_state: @participant.sub_state)
        - if @participant.city
          %br
          - link = @participant.city + ' rank: ' + @participant.city_rank.ordinalize
          = link_to link, game_participants_path(@game, country: @participant.country, state: @participant.state, sub_state: @participant.sub_state, city: @participant.city)
        - if next_target = @participant.next_target
          %br
          = "#{@participant.name}'s next target is "
          = link_to next_target.name, [:edit, @game, next_target]
        - if training_partners = @participant.training_partners
          %br
          = 'He should train with '
          - training_partners.each do |player|
            = link_to player.name + ' ', [:edit, @game, player]

