= render 'games/header'
= render partial: 'ranking_title'
= render 'games/menu'


%ul{class: 'f16', style: 'margin-left: 0px;'}
  .soft
    .max-readable-width.text--center
      %div{:"ng-app" => "application", :"ng-controller" => "ParticipantsController"}
        .form-search.form-inline
          %input{type: "text", "ng-model" => "search.$", class: 'rounded-input', placeholder: "Search for a player, a country or a character here...".html_safe}
          %br

        .text--left
          %i.fa.fa-gamepad
          {{ filteredParticipants().length }} Players
        

        .grid{:'ng-repeat' => 'participant in filteredParticipants() | startFrom:currentPage*pageSize | limitTo:pageSize'}
          %div{style: 'border-top : 1px solid #CFCACA; padding-top: 9px;'}
          .grid__item.one-eighth.text--left>
            {{ participant.rank }}
          .grid__item.one-half.text--left>
            %a{:'ng-if' => 'participant.country_code', :'ng-href' => '/games/{{participant.game_slug}}/participants?country={{participant.country}}', class: 'flag {{participant.country_code}}', style: 'padding-top:0px;'}
              &nbsp&nbsp&nbsp
            %icon{:'ng-if' => 'participant.country_code == null'}
              = image_tag('flag_none2.png', style: 'padding-bottom: 7px;')

            &nbsp

            %a{:"ng-if" => "participant.team1_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?team={{participant.team1_slug}}"}
              {{participant.team1_name}}
            %a{:"ng-if" => "participant.team2_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?team={{participant.team2_slug}}"}
              {{participant.team2_name}}
            %a{:"ng-if" => "participant.team3_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?team={{participant.team3_slug}}"}
              {{participant.team3_name}}

            %icon{:"ng-if" => "participant.team1_slug"}
              |
            %a.super-heavy-font{:"ng-href" => "/games/{{participant.game_slug}}/participants/{{participant.slug}}"}
              {{ participant.name }}
          .grid__item.one-quarter.text--left>
            
            %a{:"ng-if" => "participant.character1_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character1_slug}}"}
              %img{alt: "{{participant.character1_slug}}", :"ng-src" => "{{participant.character1_img}}", width: 15}

            %a{:"ng-if" => "participant.character2_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character2_slug}}"}
              %img{alt: "{{participant.character2_slug}}", :"ng-src" => "{{participant.character2_img}}", width: 15}

            %a{:"ng-if" => "participant.character3_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character3_slug}}"}
              %img{alt: "{{participant.character3_slug}}", :"ng-src" => "{{participant.character3_img}}", width: 15}

            %a{:"ng-if" => "participant.character4_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character4_slug}}"}
              %img{alt: "{{participant.character4_slug}}", :"ng-src" => "{{participant.character4_img}}", width: 15}

            %a{:"ng-if" => "participant.character5_slug", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character5_slug}}"}
              %img{alt: "{{participant.character5_slug}}", :"ng-src" => "{{participant.character5_img}}", width: 15}
          .grid__item.one-eighth.text--left>
            = ''
          %div{style: 'padding-bottom: 6px;'}


        %button{:"ng-disabled"=>"currentPage == 0", :"ng-click"=>"currentPage = currentPage - 1"}
          Previous
        {{ currentPage + 1 }}/{{ numberOfPages() }}
        %button{:"ng-disabled"=> "currentPage >= filteredParticipants().length/pageSize - 1", :"ng-click"=>"currentPage = currentPage + 1"}
          Next
